:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-color: #2196f3;
  --main-color: #757575;
  --second-color: #212121;
  --main-lite-color: #ffffff;
  --main-dark-color: #000000;
  --transparant-color: rgba(255, 255, 255, 0.6);
  --bckg-button-color: #188ce8;
  --bckg-btn-color: #f5f4fa;
  --background-section-footer: #2f303a;
  --border-color: #eeeeee;
  --border-header: #ececec;
  --icon-main-color: #afb1b8;
  --background-hero-color: #c4c4c4;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-family: var(--main-font), var(--secondary-font);
  color: var(--main-color);
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  display: inline-block;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
}

.logo__header {
  padding-top: 21px;
  padding-bottom: 21px;
}

@media screen and (min-width: 768px) {
  .logo__header {
    margin-right: 88px;
    padding: unset;
  }
}

@media screen and (min-width: 1200px) {
  .logo__header {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.logo__theme_durk {
  color: var(--main-dark-color);
}

.logo__footer {
  margin-bottom: 20px;
}

.logo__theme_light {
  color: var(--main-lite-color);
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-list__item {
  width: 44px;
  height: 44px;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: var(--icon-main-color);
  background-color: var(--main-lite-color);
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function);
}

.social-list__link:hover, .social-list__link:focus {
  color: var(--main-lite-color);
  background-color: var(--accent-color);
}

.social-list__icon {
  fill: currentColor;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation_list {
  display: none;
}

@media screen and (min-width: 768px) {
  .navigation_list {
    display: flex;
  }
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms var(--timing-function);
}

.navigation__item {
  position: relative;
}

.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-color);
}

.navigation__current {
  color: var(--accent-color);
}

.navigation__current::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
}

.modal-btn {
  min-width: 200px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
  color: var(--main-lite-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}

.modal-btn:hover, .modal-btn:focus, .modal-btn:active {
  background-color: var(bckg-button-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.portfolio-filter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .portfolio-filter {
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-filter {
    margin-bottom: 50px;
  }
}

.portfolio-filter__btn-item {
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .portfolio-filter__btn-item {
    margin-bottom: unset;
  }
}

.portfolio-filter__btn-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-filter__btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  cursor: pointer;
  color: var(--second-color);
  border: 1px solid var(--bckg-btn-color);
  background: var(--bckg-btn-color);
  border-radius: 4px;
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), box-shadow 250ms var(--timing-function), border 250ms var(--timing-function);
}

.portfolio-filter__btn:hover, .portfolio-filter__btn:focus {
  background-color: var(--accent-color);
  color: var(--main-lite-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid var(--accent-color);
  outline: none;
}

.portfolio-filter__currently {
  background-color: var(--accent-color);
  color: var(--main-lite-color);
}

.contact-list__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--transparant-color);
  transition: color 250ms var(--timing-function);
}

@media screen and (min-width: 1200px) {
  .contact-list__link {
    align-items: flex-start;
  }
}

.contact-list__link:hover, .contact-list__link:focus {
  color: var(--accent-color);
}

.contact-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.contact-list__link-address {
  color: var(--main-lite-color);
}

.header {
  border-bottom: 1px solid var(--border-header);
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_contacts-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .header_contacts-list {
    display: initial;
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

@media screen and (min-width: 1200px) {
  .header_contacts-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .header__burger-btn {
    display: none;
  }
  .header__contacts-item:not(:last-child) {
    padding-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header__contacts-item:not(:last-child) {
    padding-bottom: unset;
  }
  .header__contacts-item:not(:last-child) {
    margin-right: 50px;
  }
}

.header__contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
  transition: color 250ms var(--timing-function);
}

@media screen and (min-width: 768px) {
  .header__contacts-link {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .header__contacts-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header__contacts-link:hover, .header__contacts-link:focus {
  color: var(--accent-color);
}

.header__contacts-icon {
  fill: currentColor;
  margin-right: 10px;
}

.header__burger-btn {
  background-color: transparent;
  border: none;
  padding: 0;
}

.header__burger-icon {
  transition: fill 250ms var(--timing-function);
}

.header__burger-btn:hover .header__burger-icon,
.header__burger-btn:focus .header__burger-icon {
  fill: var(--accent-color);
}

.hero {
  max-width: 1600px;
  padding-top: 118px;
  padding-bottom: 118px;
  margin: 0 auto;
  text-align: center;
  background-color: var(--background-hero-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/mobile-bcg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-lite-color);
  max-width: 360px;
  margin: 0 auto 30px;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    max-width: 696px;
  }
}

.hero__modal-btn {
  border: 1px solid var(--accent-color);
  padding: 10px 32px;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/hero/mobile-bcg@2x.jpg");
  }
}

@media (min-width: 480px) {
  .hero {
    background-image: url("../images/hero/tablet-bcg.jpg");
  }
}

@media (min-width: 480px) and (min-device-pixel-ratio: 2), (min-width: 480px) and (min-resolution: 192dpi), (min-width: 480px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/hero/tablet-bcg@2x.jpg");
  }
}

@media (min-width: 768px) {
  .hero {
    background-image: url("../images/hero/desktop-bcg.jpg");
  }
}

@media (min-width: 768px) and (min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 192dpi), (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/hero/desktop-bcg@2x.jpg");
  }
}

.about {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .about {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.about__dscrptn {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.about__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--second-color);
  margin-bottom: 10px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .about__title {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .about__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }
}

.about__item {
  width: 100%;
}

.about__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .about__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .about__item {
    flex-basis: calc(100% / 4 - 30px);
    width: 270px;
  }
}

.about__container-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  background: var(--bckg-btn-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.occupation {
  display: none;
  padding-top: 0;
  padding-bottom: 94px;
}

@media screen and (min-width: 1200px) {
  .occupation {
    display: block;
  }
}

.occupation__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--second-color);
  margin-bottom: 50px;
}

.occupation__list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.occupation__item {
  position: relative;
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
}

.occupation__caption {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-lite-color);
  background: rgba(47, 48, 58, 0.8);
}

.developments {
  background-color: var(--bckg-btn-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .developments {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.developments__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--second-color);
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .developments__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}

.developments__title-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-color);
  margin-bottom: 10px;
}

.developments__dscrptn {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .developments__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
    text-align: center;
  }
}

.developments__item {
  width: 100%;
}

.developments__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .developments__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .developments__item {
    flex-basis: calc(100% / 4 - 30px);
    width: 270px;
  }
}

.developments__wrapper {
  padding: 30px 32px;
  text-align: center;
  background: var(--main-lite-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.customers {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .customers {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.customers__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--second-color);
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .customers__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 480px) {
  .customers__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .customers__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.customers__item {
  height: 92px;
}

.customers__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .customers__item {
    width: 210px;
    flex-basis: calc(100% / 2 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .customers__item {
    width: 226px;
    flex-basis: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .customers__item {
    width: 170px;
    flex-basis: auto;
  }
}

.customers__link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icon-main-color);
  width: 100%;
  height: 100%;
  border: 1px solid var(--icon-main-color);
  border-radius: 4px;
  transition: color 250ms var(--timing-function), border-color 250ms var(--timing-function);
}

.customers__link:hover, .customers__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.customers__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: currentColor;
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.portfolio_title-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-color);
  margin-bottom: 4px;
}

.portfolio__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

@media screen and (min-width: 768px) {
  .portfolio__cards-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }
}

.portfolio__cards-item {
  width: 100%;
}

.portfolio__cards-item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .portfolio__cards-item {
    flex-basis: calc(100% / 2 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__cards-item {
    flex-basis: calc(100% / 3 - 30px);
  }
}

.portfolio__cards-wrapper {
  padding: 20px 24px;
  border: 1px solid var(--border-color);
  box-sizing: border-box;
}

.portfolio__link {
  display: block;
  transition: box-shadow 250ms var(--timing-function);
}

.portfolio__link:hover, .portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__overlay-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--main-lite-color);
  background-color: transparent;
  transform: translateY(100%);
  transition: transform 250ms var(--timing-function), background-color 250ms var(--timing-function);
}

.portfolio__link:hover .portfolio__overlay,
.portfolio__link:focus .portfolio__overlay {
  transform: translateY(0%);
  background-color: rgba(33, 150, 243, 0.9);
}

.crutch {
  padding-top: 20px;
  padding-bottom: 56px;
}

.footer {
  background: var(--background-section-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__address {
  font-style: normal;
}

.footer__container-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .footer__container-main {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container-main {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.footer__container-address {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .footer__container-address {
    align-items: flex-start;
    margin-bottom: unset;
  }
}

.footer__join {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-lite-color);
  margin-bottom: 20px;
}

.footer__container-icons {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 206px;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer__container-icons {
    align-items: flex-start;
    margin-bottom: unset;
  }
}

.footer__container-form {
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .footer__container-form {
    width: unset;
  }
}

.footer-list-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-list-icons__link {
  color: var(--main-lite-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms var(--timing-function);
}

.footer-list-icons__link:hover, .footer-list-icons__link:focus {
  background-color: var(--accent-color);
}

.footer-form__subscriber {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-lite-color);
  margin-bottom: 20px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer-form__subscriber {
    text-align-last: left;
  }
}

.footer-form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .footer-form__container {
    flex-direction: row;
  }
}

.footer-form__input {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 15px 16px;
  background-color: transparent;
  transition: box-shadow 250ms var(--timing-function);
  color: var(--main-lite-color);
  margin-bottom: 20px;
}

.footer-form__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input:focus {
  color: var(--main-lite-color);
  box-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

@media screen and (min-width: 768px) {
  .footer-form__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form__input {
    width: 358px;
    margin-bottom: unset;
    margin-right: 12px;
  }
}

.footer-form__icon {
  margin-left: 10px;
}

.footer-form__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 10px 29px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 300px;
  background-color: var(--main-lite-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 480px) {
  .modal {
    width: 100%;
    max-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 100%;
    max-width: 528px;
  }
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: var(--main-lite-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal__btn-icon {
  transition: fill 250ms var(--timing-function);
}

.modal__close-btn:hover .modal__btn-icon,
.modal__close-btn:focus .modal__btn-icon {
  fill: var(--accent-color);
}

.modal__form {
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
}

@media screen and (min-width: 480px) {
  .modal__form {
    padding: 40px;
  }
}

.modal__description-callu {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.28;
  letter-spacing: 0.03em;
  color: var(--second-color);
  text-align: center;
  margin-bottom: 12px;
}

@media screen and (min-width: 480px) {
  .modal__description-callu {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 1200px) {
  .modal__description-callu {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
  }
}

.modal__field {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  cursor: pointer;
  margin-bottom: 10px;
}

.modal__field-last {
  margin-bottom: 20px;
}

.modal__input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms var(--timing-function);
}

.modal__input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  fill: var(--second-color);
  transition: background-color 250ms var(--timing-function);
}

.modal__input:focus + .modal__icon {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.modal__message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  margin-top: 4px;
  transition: border-color 250ms var(--timing-function);
}

.modal__message::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal__check-desc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.13;
  letter-spacing: 0.03em;
  margin: 0 auto;
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .modal__check-desc {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 1200px) {
  .modal__check-desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.modal__check-desc::before {
  display: block;
  content: '';
  background-image: url(../images/frame.svg);
  width: 16px;
  height: 15px;
  cursor: pointer;
  margin-right: 7px;
  background-position: center;
}

.modal__term:checked + .modal__check-desc::before {
  background-color: var(--accent-color);
  background-image: url("../images/check.svg");
}

.modal__term:focus-visible + .modal__check-desc::before {
  box-shadow: 0 0 0 2px var(--accent-color);
}

.modal__link {
  color: var(--accent-color);
}

.modal__btn {
  align-self: center;
  padding: 10px 55px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid var(--bckg-btn-color);
  transition: background-color 250ms var(--timing-function);
}

.modal__btn:hover, .modal__btn:focus {
  background-color: var(--accent-color);
}

.mobile-menu {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 50%;
  width: 100vw;
  max-width: 480px;
  height: 100vh;
  background-color: var(--main-lite-color);
  padding: 48px 40px;
  transform: translateY(-100%) translateX(-50%);
  transition: transform 250ms linear;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu__close-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}

.mobile-menu__close-icon {
  transition: fill 250ms var(--timing-function);
}

.mobile-menu__close-btn:hover .mobile-menu__close-icon,
.mobile-menu__close-btn:focus .mobile-menu__close-icon {
  fill: var(--accent-color);
}

.mobile-menu__nav-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__nav-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--second-color);
  transition: color 250ms var(--timing-function);
}

.mobile-menu__nav-link:hover, .mobile-menu__nav-link:focus, .mobile-menu__nav-link:active {
  color: var(--accent-color);
}

.mobile-menu__contacts {
  position: fixed;
  bottom: 48px;
}

.mobile-menu__contacts-list {
  margin-bottom: 62px;
}

.mobile-menu__contacts-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__phone-link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-menu__mail-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.mobile-menu__social-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-menu__social-item {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
  margin-right: 10px;
}

.mobile-menu__social-item:last-child {
  border-right: none;
}

.mobile-menu__social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.is-open {
  overflow: hidden;
  opacity: 1;
  z-index: 10;
  visibility: visible;
  pointer-events: auto;
  transform: translateY(0) translateX(-50%);
}
/*# sourceMappingURL=main.css.map */