.footer-form {
  &__subscriber {
    @include font($fw: 700, $fs: 14px, $lh: 16px);
    text-transform: uppercase;
    color: var(--main-lite-color);
    margin-bottom: 20px;
    text-align: center;

    @media screen and(min-width: 1200px) {
      text-align-last: left;
    }
  }

  &__container {
    @include vertical-centering;
    //position: relative;
    @media screen and(min-width: 1200px) {
      flex-direction: row;
    }
  }

  &__input {
    width: 100%;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    padding: 15px 16px;
    background-color: transparent;
    transition: box-shadow 250ms var(--timing-function);
    color: var(--main-lite-color);
    margin-bottom: 20px;

    &::placeholder {
      @include font($fs: 16px, $lh: 20px);
      color: rgba(255, 255, 255, 0.6);
    }

    &:focus {
      color: var(--main-lite-color);
      box-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    }

    @media screen and(min-width: 768px) {
      width: 450px;
    }

    @media screen and(min-width: 1200px) {
      width: 358px;
      margin-bottom: unset;
      margin-right: 12px;
    }
  }

  &__icon {
    //position: absolute;
    //right: 0;
    //top: 0;
    //transform: translateY(50%);
    //right: 28px;
    margin-left: 10px;
  }

  &__btn {
    @include alignment($jc: center);
    border: none;
    padding: 10px 29px;
  }
}
