.header {
  border-bottom: 1px solid var(--border-header);

  & .container {
    @include alignment;
  }

  &_contacts-list {
    display: none;
    @media screen and(min-width: 768px) {
      display: initial;
      @include paddings(21px, 21px);
    }

    @media screen and(min-width: 1200px) {
      @include alignment;
    }
  }

  @media screen and(min-width: 768px) {
    &__burger-btn {
      display: none;
    }

    &__contacts-item:not(:last-child) {
      padding-bottom: 10px;
    }
  }

  @media screen and(min-width: 1200px) {
    &__contacts-item:not(:last-child) {
      padding-bottom: unset;
    }
    &__contacts-item:not(:last-child) {
      margin-right: 50px;
    }
  }

  &__contacts-link {
    //@include alignment;
    @include font($fw: 500, $lh: 16px, $ls: 0.02em);

    color: var(--main-color);
    transition: color 250ms var(--timing-function);

    @media screen and(min-width: 768px) {
      display: flex;
    }
    @media screen and(min-width: 1200px) {
      @include alignment;
    }
  }

  &__contacts-link:hover,
  &__contacts-link:focus {
    color: var(--accent-color);
  }

  &__contacts-icon {
    fill: currentColor;
    margin-right: 10px;
  }

  &__burger-btn {
    background-color: transparent;
    border: none;
    padding: 0;
  }
}
