.mobile-menu {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 50%;
  width: 100vw;
  max-width: 480px;
  height: 100vh;
  background-color: var(--main-lite-color);
  padding: 48px 40px;
  transform: translateY(-100%) translateX(-50%);
  transition: transform 250ms linear;

  & .is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateY(0) translateX(-50%);
  }

  &__close-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    position: absolute;
    top: 10px;
    right: 15px;
  }

  @media screen and(min-width: 768px) {
    display: none;
  }

  &__phone-link {
  }
}
