.portfolio {
  @include paddings(60px, 60px);

  @media screen and(min-width: 1200px) {
    @include paddings;
  }

  &_title-link {
    @include font($fw: 700, $fs: 18px, $lh: 36px, $ls: 0.06em);
    color: var(--second-color);
    margin-bottom: 4px;
  }

  &__description {
    @include font($fs: 16px, $lh: 30px);
    color: var(--main-color);
  }

  &__cards-list {
    //display: flex;
    //flex-wrap: wrap;
    //margin-right: -30px;
    //margin-bottom: -30px;
    @media screen and(min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      margin-right: -30px;
      margin-bottom: -30px;
    }
  }

  &__cards-item {
    //flex-basis: calc(100% / 3 - 30px);
    //margin-right: 30px;
    //margin-bottom: 30px;
    width: 100%;
    //max-width: 450px;
    &:not(:last-child) {
      margin-bottom: 30px;
    }

    @media screen and(min-width: 768px) {
      flex-basis: calc(100% / 2 - 30px);
      margin-right: 30px;
      margin-bottom: 30px;
      //max-width: 354px;
    }

    @media screen and(min-width: 1200px) {
      flex-basis: calc(100% / 3 - 30px);
      //max-width: 370px;
    }
  }

  &__cards-wrapper {
    @include paddings(20px, 20px);
    padding-left: 24px;
    //padding-left: 20px 24px;
    border: 1px solid var(--border-color);
    box-sizing: border-box;
  }

  &__link {
    display: block;
    transition: box-shadow 250ms var(--timing-function);

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }

  &__overlay-wrapper {
    position: relative;
    overflow: hidden;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    padding: 63px 24px;
    height: 100%;
    @include font($fs: 18px, $lh: 28px);
    color: var(--main-lite-color);
    background-color: transparent;
    transform: translateY(100%);
    transition: transform 250ms var(--timing-function),
      background-color 250ms var(--timing-function);

    .portfolio__link:hover &,
    .portfolio__link:focus & {
      transform: translateY(0%);
      background-color: rgba(33, 150, 243, 0.9);
    }
  }
}
