.portfolio-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;

  &__btn-item:not(:last-child) {
    margin-right: 8px;
  }

  &__btn {
    font-family: inherit;
    @include font($fw: 500, $fs: 16px, $lh: 26px);
    padding: 6px 22px;
    cursor: pointer;
    color: var(--second-color);
    border: 1px solid var(--bckg-btn-color);
    background: var(--bckg-btn-color);
    border-radius: 4px;
    transition: background-color 250ms var(--timing-function),
      color 250ms var(--timing-function),
      box-shadow 250ms var(--timing-function),
      border 250ms var(--timing-function);

    &:hover,
    &:focus {
      background-color: var(--accent-color);
      color: var(--main-lite-color);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
      border: 1px solid var(--accent-color);
      outline: none;
    }
  }

  &__currently {
    background-color: var(--accent-color);
    color: var(--main-lite-color);
  }
}
