@mixin paddings($pt: 94px, $pb: 94px) {
  padding-top: $pt;
  padding-bottom: $pb;
}

@mixin alignment($dspl: flex, $ai: center, $jc: space-between) {
  display: $dspl;
  align-items: $ai;
  justify-content: $jc;
}

@mixin font($fw: 400, $fs: 14px, $lh: 24px, $ls: 0.03em) {
  font-weight: $fw;
  font-size: $fs;
  line-height: decimal-round($lh/$fs, 2);
  letter-spacing: $ls;
}
