:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-color: #2196f3;
  --main-color: #757575;
  --second-color: #212121;
  --main-lite-color: #ffffff;
  --main-dark-color: #000000;
  --transparant-color: rgba(255, 255, 255, 0.6);
  --bckg-button-color: #188ce8;
  --bckg-btn-color: #f5f4fa;
  --background-section-footer: #2f303a;
  --border-color: #eeeeee;
  --border-header: #ececec;
  --icon-main-color: #afb1b8;
  --background-hero-color: #c4c4c4;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
